{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    Oh, shoot
{% endblock %}

{% block content %}
<p> I didn't tell you the plan, did I?  </p>
<p> OK, here we go. To defeat the worst villains that ever walked the Earth we need the best heroes on the planet.
However these heroes retired long time ago so we'll have to contact each single one of them to assemble this super-team. </p>
<p> More detailed instructions will be delivered to you soon enough, don't worry. </p>

    {% next_button %}
{% endblock %}